
extends ../layOut/viewComeon

block conten
	.loader.loader-black.loader-1(id="fixeds")
	.meau_mobi(id="showMeau")
		i.fas.fa-ellipsis-v
	.show_meau(id="mobie_on")
		i.fas.fa-times
		ul
			li 
				a(href="") Home
			li 
				a(href="") Active
			li 
				a(href="") Help
			li 
				a(href="") Goo
	.wapper_home.not(id="fixed")
	
		.herder_img
			.wapper_baner
				.img_baner
		.wapper_meau
			.meau_nav
				ul
					li 
						a(href="") Home
					li 
						a(href="") Active
					li 
						a(href="") Help
					li 
						a(href="") Goo
		.container-fluid.custom_col
			.row
				.col-12
					.wapper_baner
						.img_baner
			.wapper_header
				.row
					.col-12
						.wapper_conten
							each posts in viewsXepHang
								.row
									div.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4.custom_col
										.conten_img_view
											img(src=posts.imgView)
										.conten_treck
								.row(class=posts.id === id ? "" : "display")
									div.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
										.conten_mota
											h3=posts.nameView
											p(style="font-style:italic; font-size: 13px; opacity:0.7" )=`[Cập nhật lúc : ${posts.dataView} ]`
											p
												i.fas.fa-user  Tac gia : 
													span(style="color:#a2b8b1; font-style:italic")=posts.tacGia
											p
												i.fas.fa-rss  Tinh trang : 
													span(style="color:#a2b8b1; font-style:italic")=posts.tinhTrang
											p 
												i.fas.fa-tags  The loai :  
													span(style="color:#a2b8b1; font-style:italic")=posts.theLoai
								.row(class=posts.id === id ? "" : "display")
									div.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
										br
										h4(style="color:#a2b8b1")
											i.fas.fa-file-alt  Nội dung
										p=posts.noiDung
										hr
										h4(style="color:#a2b8b1")
											i.fas.fa-th-list  Danh sách chương
										hr
										.wapper_chap
											each posts in viewsXepHang
												a(href=`/post/chapxephang/${posts._id}`)
													p(class=posts.chapter === "Chapter 369" || posts.chapter === "Chapter 517" || posts.chapter === "Chapter 229" || posts.chapter === "Chapter 499" || posts.chapter === "Chapter 453" || posts.chapter === "Chapter 493" || posts.chapter === "Chapter 500" || posts.chapter === "Chapter 519" || posts.chapter === "Chapter 371" ? "display" : "")=posts.chapter
	//- title=posts.nameView
	script.
		function showMeau(){
			var show = document.getElementById("showMeau")
			var meauOn = document.getElementById("mobie_on")
			var fixed = document.getElementById("fixed")
			var fixeds = document.getElementById("fixeds")
			show.addEventListener("click", showMeaus)
			meauOn.addEventListener("click", closeMeau)
			setTimeout(function(){ fixed.classList.remove('not') }, 1000);
			setTimeout(function(){ fixeds.classList.add('not') }, 1000);
			function showMeaus(){
				console.log("hh")
				meauOn.style.left = "0"
				fixed.classList.add('of')
			}
			function closeMeau(){
				meauOn.style.left = "-310px"
				fixed.classList.remove('of')
			}
		}
		function reload(){
			if(
				getStorage('loaded') == '' 
				|| getStorage('loaded') == '0'
			){
				setStorage('loaded', '1');
				window.location.reload();
				return true;
			}else{
				setStorage('loaded', '0');
				return true;
			}
		}
		function setStorage(name, value){
			return sessionStorage.setItem(name, value);
		}
		function getStorage(name){
			return sessionStorage.getItem(name) || '';
		}
		showMeau();
		setTimeout(reload, 500);


